body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 10%;
}

.cell.active {
  transition: all 1s ease-in;
}

#gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 664px;
  background-color: gold;
  /*border: 2px solid black;
  border-radius: 1%;*/
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#win {
  display: none;
}

@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }

    15%, 70% {
        transform: scale(1, 1) translateY(0);
    }

    /*90% {
        transform: scale(1, 1) translateY(600%);
    }

    100% {
        transform: scale(1, 1) translateY(600%);
    }*/
}

.cell.animated {
  /*animation: slide 2s ease infinite*/
}


@media screen and (max-width: 820px) {
  .App {
    display: block;
  }
}
